*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    background-color: burlywood;
    width: 1200px;
    margin: 5px 100px;
    
    /* To fix the height and make the slider when text is out of the block  */
    height: 550px;
    overflow-y: auto; 
}

#display{
    font-size: medium;
    font-family: sans-serif;
}

.query-class{
    margin: 20px 100px 10px 100px;
    background-color: aquamarine;
    width: 1100px;
}

/* Input tag of upload image  */
#upload-image{
    /* To hide the default Browse...  */
    display: none;
}

button{
    cursor: pointer;
}