*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
h1{
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    background-color: #0b0b0b;
    width: 1200px;
    margin: 5px 100px;
    
    /* To fix the height and make the slider when text is out of the block  */
    height: 550px;    
    overflow-y: auto;
}

#display{
    font-size: medium;
    font-family: sans-serif;
    white-space : pre-line;  /* To remove horizontal slider and wrap */
    margin-left: 31px;
}

.query-class{
    margin: 20px 100px 10px 100px;
    /* background-color: aquamarine; */
    width: 1100px;
}

/* Input tag of upload image  */
#upload-image{
    /* To hide the default Browse...  */
    display: none;
}
.query-class label[for="upload-image"]:hover{
    cursor : pointer;
}

button{
    cursor: pointer;
}

pre code.hljs{
    border-radius : 21px;
}